<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Enable log config via jmx -->
    <contextName>origami</contextName>
    <jmxConfigurator/>

    <springProfile name="DEV,UAT">
        <logger name="springfox.documentation" level="WARN"/>
        <logger name="org.hibernate" level="INFO"/>


        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="PROD">
        <logger name="springfox.documentation" level="WARN"/>
        <logger name="org.hibernate" level="INFO"/>


        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="!PROD">
        <logger name="org.springframework.boot.context.web.ErrorPageFilter">
            <level value="OFF" />
        </logger>
        <logger name="org.hibernate" level="WARN"/>

        <logger name="springfox.documentation" level="WARN"/>
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>