<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"/>
    <link href="/static/css/blogCommon.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div class="container-fluid">
    <div class="page-header">
        <h2>Welcome to my home page!</h2>
    </div>

    <div class="row">
        <section class="col-sm-3 col-md-4 col-lg-5 col-sm-push-9 col-md-push-8 col-lg-push-7">
            <button class="btn btn-primary" type="button">
                Pankaj P <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            </button>
        </section>

        <div class="col-sm-9 col-md-8 col-lg-7 col-sm-pull-3 col-md-pull-4 col-lg-pull-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">About</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>12 years of experience in building Java Enterprise Applications.</li>
                        <li>Vast experience working within Investemnt banking, Asset management and Telecomm industry.</li>
                        <li><a href="#">Learn about Pankaj P</a></li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Technical writings</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>See the <a href="/blog/retrive">technical blogs</a> I've published!</li>
                        <li><a href="#">See my github projects/contributions!</a></li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact me</h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li><a href="/contact.html">Get in touch with me.</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <footer class="container-fluid" role="contentinfo">
        <h1>FOOTER</h1>
    </footer>
</div>
</body>
<script src="/js/bootstrap.min.js"/>
</html>