<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
        <header class="container">
            <div id="menu">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">About me</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <section th:id="bodyImage" class="container">
            <div class="row visible-md visible-lg">
                <img th:src="@{/images/Aerial_Dusk.jpg}" class="img-responsive" />
            </div>
        </section>

        <section th:id="body" class="container">
            <h1>
                <p th:text="#{home.welcome}"></p>
            </h1>
            <h4>
                <p th:text="#{home.welcome.extra}"></p>
            </h4>

            <div th:id="goto">
                <small>
                    <a th:href="@{/blog/retrive}"><p th:text="#{home.welcome.main}"></p></a>
                </small>
            </div>
        </section>
</body>
<script src="/js/bootstrap.min.js"/>
</html>