<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/static/css/blogCommon.css" th:href="@{/css/blogCommon.css}" rel="stylesheet"/>
          rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="/static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"/>
</head>
<body>
<div class="container-fluid">
    <div th:include="navBar"/>

    <div class="row">
        <span class="col-lg-offset-12"/>

        <section class="col-lg-10 col-lg-offset-1">
            <div class="jumbotron">
                <h2>CV</h2>
                <br/>
                <h6 th:text="${careerProfile.candidateName}"><br/>Anonymous</h6>
                <h6><span th:text="${careerProfile.homeAddress.doorStreet}"/><span>,</span></h6>
                <h6><span th:text="${careerProfile.homeAddress.postCode}"/><span>,</span></h6>
                <h6><span th:text="${careerProfile.homeAddress.county}" alt="Essex"/><span>,</span></h6>
                <h6 th:text="${careerProfile.homeAddress.country}"/>
                <h6><span>Email: </span><span th:text="${careerProfile.emailAddress}"/></h6>
                <br/>
                <a href="https://uk.linkedin.com/in/pankajpardasani" alt="Linkedin profile URL"><img th:src="@{/images/linkedin.png}" alt="Linkedin Icon"/></a>
            </div>
        </section>

        <section class="col-lg-7 col-lg-offset-1">
            <h2>Professional Info</h2>
            <hr class="hr_headers"/>

            <div th:each="careerSummaryInfo,careerSummaryInfoStat : ${careerProfile.summary.summaryInfo}">
                <h5 th:text="${careerSummaryInfo}"/>
            </div>

            <br/><br/>

            <h2>Work experience</h2>
            <hr class="hr_headers"/>

            <div id="projectDetailsId" th:each="projSpec,projSpecStat : ${careerProfile.experience}">
                <h5><span th:text="${projSpec.organisation}"/>:&nbsp;<span th:text="${projSpec.jobTitle}"/></h5>
                <h5><span>Project: </span><span th:text="${projSpec.projectName}"/></h5>
                <h5><span th:text="${projSpec.startDate}"/> - <span th:text="${projSpec.endDate}"/></h5>
                <h5 th:text="${projSpec.projectDescription}"/>
                <h5>Environment:&nbsp;<span th:text="${projSpec.techEnvironment}"/></h5>

                <hr class="hr_project"/>

            </div>
        </section>

        <section class="col-lg-3">
            <h2>Technologies</h2>
            <hr class="hr_headers"/>
            <h5 th:text="${careerProfile.skills}"/>
        </section>
    </div>
</div>
</body>
</html>