<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/static/css/blogCommon.css" th:href="@{/css/blogCommon.css}"/>
</head>
<body>

<header class="container bottom30">
    <div id="menu">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">About me</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<section class="container">
    <div id="content">
        <div th:unless="${#lists.isEmpty(blogList)}">
            <div class="jumbotron" th:each="blog,blogList : ${blogList}">
                <h3 th:text="${blog.title}"></h3>
                <p th:text="${blog.content}"></p>

                <ul class="pager">
                    <li class="previous disabled"><a href="#">&larr; Older</a></li>
                    <li class="next"><a href="#">Newer &rarr;</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

</body>
</html>